doctype html
head
  title SCRAPPY
  link(href='./../css/style_sheet.css' rel='stylesheet' type='text/css')
.error
  .error_title
    h3 Uh Oh! something went wrong...
    
  .error_message
    h3.err= error
    h3.message= message 

